.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline-color: transparent;
    margin: 0 36px;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__input:nth-of-type(1) {
    margin-bottom: 30px;
}

@media (max-width: 550px) {
    .popup__input {
        margin: 0 22px;
    }
}