.popup__close-button {
    align-self: flex-end;
    background-color: black;
    background-image: url('../../../images/close-button/Close-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 32px;
    margin-right: -76px;
    margin-top: -75px;
    padding: 0;
    position: absolute;
    transition: .2s ease-in-out;
    width: 32px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 550px) {
    .popup__close-button {
        height: 20px;
        width: 20px;
        margin-top: -62px;
        margin-right: -20px;
        background-size: contain;
    }
}